:root {
    --header-blue: #CDE6F5;
    --square: #2660A4;
    --triangle: #E65A5B;
    --circle: #5D8233;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
}

body {
    color: white;
}

.nav {
    background-color: black;
    border-radius: 0 0 10px 10px;
    box-shadow: 1px 1px 5px 1px rgba(255, 255, 255, 0.2);
    color: white;
    width: 100%;
    min-height: 50px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.nav--icon {
    width: 30px;
}

.nav--title {
    font-size: 1.5em;
    margin-left: 3%;
    position: relative;
    top: 15px;
    height: 20px;
}

